* {
    text-decoration: none;
}

.logo {
    width: 150px;
}

.nav-bar {

    width: 100%;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-bar>ul {
    list-style: none;
    display: flex;

}

.nav-bar>ul>li {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;

}

.Offer {
    margin: 0px 120px;
    display: flex;
    justify-content: first baseline;
    overflow: hidden;
    padding-bottom: 20px;

}

.IMG-offer {
    padding: 10px 30px 30px 30px;
    width: 400px;
}

.OnMind {
    display: flex;
    justify-content: first baseline;
    overflow: hidden;
    margin: 0px 120px;
    border-bottom: 1px solid rgba(50, 50, 50, 0.365);
}

.OnMind>img,
h {
    width: 150px
}


.Search-OnMind {
    display: flex;
    justify-content: first baseline;
    overflow: hidden;
    margin: 0px 120px;
    border-bottom: 1px solid rgba(50, 50, 50, 0.365);
}

.Search-OnMind>img,
h {
    width: 90px
}


.Heading {
    margin: 0px 120px;
    padding: 15px 0px 10px 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.662);
}

.Card {
    /* border-radius: 2px; */
    justify-content: center;
    color: black;
    width: 175px;
    height: 200px;
    /* border: 1px solid; */
    padding: 10px;
    margin: 10px;
    /* line-height:0.1rem; */
    overflow: hidden;
    text-overflow: ellipsis;
}


.Card h3,
p,
p1 {
    padding: 0px;
    margin: 0px;
}

.Card p1 {
    font-size: 13px;
    font-weight: 400;

}

.Card p {
    font-weight: 500;

}

.Card>img {
    width: 100%;
    height: 60%;
    border-radius: 10px;
}

.restaro-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 120px;
    padding-top: 20px;

}

.search-Container {
    display: flex;
    justify-content: center;
    margin: 60px 200px;
    justify-content:space-around;
    justify-items: center;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 4px;
    padding-bottom: 10px;

}

.search-Container>input {
    width: 500px;
    height: 25px;
   text-decoration: none;
    border: none;
}


.cuisines {
    font-size: small;
    line-height: 1rem;
    color: rgb(129, 129, 129);

}

.Shimmer {
    width: 200px;
    height: 300px;
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    line-height: 0.2rem;
    background-color: rgb(140, 140, 140);
}

.Rating {
    align-items: center;
    width: 15px;
    padding: 5px;
}

.avgRating {
    display: flex;
    align-items: center;
}

h3 {
    font-size: 15px;
}