*{
    text-decoration: none;
}
.logo{
    width: 150px;
}
.nav-bar{

    width: 100%;
  
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-bar > ul{
    list-style: none;
    display: flex;

}
.nav-bar > ul > li{
    padding: 20px;
    font-size: 20px;
    font-weight: bold;


}
.Card{
    justify-content: center;
    color: black;
    width: 200px;
    height: 300px;
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    /* line-height:0.1rem; */
    overflow: hidden;
}
.Card h3,p,p1{
    padding: 0px;
    margin: 0px;
}
.Card p1{
    font-weight:400;

}
.Card p{
    font-weight:500;

}
.Card>img{
    width:100%;
    /* height: 50%;
    border-radius: 50px; */
}

.restaro-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search-Container > input{

    width: 300px;
    height: 59px;
    justify-content: center;
    box-shadow: 5px 5px 2px rgba(130, 130, 130, 0.525);
}

.cuisines{
    font-size: small;
    line-height: 1rem;
}
.Shimmer{
    width: 200px;
    height: 300px;
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    line-height: 0.2rem;
    background-color: rgb(140, 140, 140);
}