*{
    /* margin: 5px 0px 5px 0px; */
    /* padding: 0px; */

}
.logo{
    width: 150px;
}
.nav-bar{
    width: 100%;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-bar > ul{
    list-style: none;
    display: flex;

}
.nav-bar > ul > li{
    padding: 20px;
    font-size: 20px;
    font-weight: bold;


}
.Card{
    width: 200px;
    height: 300px;
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    line-height: 0.2rem;
    overflow: hidden;
}
.Card>img{
    width: 100%;
}

.restaro-list{
    display: flex;
    flex-wrap: wrap;
}

.search-Container > input{

    width: 300px;
    height: 59px;
    justify-content: center;
    box-shadow: 5px 5px 2px rgba(130, 130, 130, 0.525);
}

.Shimmer{
    width: 200px;
    height: 300px;
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    line-height: 0.2rem;
    background-color: rgb(140, 140, 140);
}